In [2]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,RobustScaler
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import category_encoders as ce   #you many need to: pip install category_encoders
import os
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import r2_score
from scipy import stats

In [3]:
file_path = Path('./Resources/train.csv')
train = pd.read_csv(file_path)
print (f' Data frame size is  {train.shape}')
train.head(5)

 Data frame size is  (1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
file_path = Path('./Resources/test.csv')
test = pd.read_csv(file_path)
print (f' Data frame size is  {test.shape}')
test.head(5)

 Data frame size is  (1459, 80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
train_cols = train.columns
test_cols = test.columns

common_cols = train_cols.intersection(test_cols)
train_not_test = train_cols.difference(test_cols)
train_not_test

Index(['SalePrice'], dtype='object')

In [6]:
df = train.copy()

In [7]:
df_NA_sum = pd.DataFrame(df.isna().sum())
Columns_NA_COUNT = df_NA_sum.loc[df_NA_sum[0]>0]
print('Part 1-1: Here are the count of NAs in columns')
Columns_NA_COUNT

Part 1-1: Here are the count of NAs in columns

                 0
LotFrontage    259
Alley         1369
MasVnrType       8
MasVnrArea       8
BsmtQual        37
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinType2    38
Electrical       1
FireplaceQu    690
GarageType      81
GarageYrBlt     81
GarageFinish    81
GarageQual      81
GarageCond      81
PoolQC        1453
Fence         1179
MiscFeature   1406

In [8]:
perc = 10 # if more than this perc, the columns is dropped.
min_count =  int(((100-perc)/100)*df.shape[0])
df_NAcolumnsdropped = df.dropna( axis=1, thresh=min_count)
print(f'here is the new dataframe size: {df_NAcolumnsdropped.shape}')

dropped_columns = df.columns.difference(df_NAcolumnsdropped.columns).tolist()
print(f'Here is the list of dropped columns: {dropped_columns}')

here is the new dataframe size: (1460, 75)
Here is the list of dropped columns: ['Alley', 'Fence', 'FireplaceQu', 'LotFrontage', 'MiscFeature', 'PoolQC']

In [9]:
print(f'Here is the number of rows that have NA values: {sum(df_NAcolumnsdropped.isnull().sum(axis=1)>0)} and will be dropped')
print(f'{sum(df_NAcolumnsdropped.isnull().sum(axis=1)>0)/len(df_NAcolumnsdropped)*100} percent of data is dropped')
df_NArowsdropped = df_NAcolumnsdropped.dropna(axis=0)
df_NArowsdropped.shape

Here is the number of rows that have NA values: 122 and will be dropped
8.356164383561644 percent of data is dropped

(1338, 75)

In [10]:
print(f'Verifying if the datatypes are correct')
number_of_numerical_columns = len(df_NArowsdropped.select_dtypes('int64').columns)
print(f'Expection is to have 35 numerical columns and we have {number_of_numerical_columns}')

Verifying if the datatypes are correct
Expection is to have 35 numerical columns and we have 35

In [11]:
from sqlalchemy import create_engine
from config import db_password

In [12]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/housing_prices"

In [13]:
engine = create_engine(db_string)

In [15]:
df_NAcolumnsdropped.to_sql(name='new_clean_housing_data', con=engine)